#product1{
    text-align: center; 
 }
 #product1 .pro-container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     
 }

 #product1 h2{
    color: #e6e5e5;
    margin: 100px;
 }
 
 #product1 .pro{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    background-color: #48868b;
    margin: 10px;
    position: relative;
     width: 15% ;
     min-width: 250;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     border: 1px solid rgba(93, 93, 93, 0.2);
     border-radius: 20px;
     cursor: pointer;
     
     box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
     margin: 15px,0px;
     transition: 0.2s ease;
     
 }
 #product1 .pro:hover{
     box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.08);
     scale: 105%;
 }
 #product1 .pro img{
    margin: 10px;
    max-width: 60%;
    max-height: 60%;    
    height: auto;
    position: relative;
    top: 0px;

 
 }
 #product1 .pro .description{
    margin-top: 5px;
     text-align: start;
     padding: 10px;
     position: absolute;
     bottom: 0px;
 }
 
 #product1 .pro .description h5{
     padding-top: 7px;
     font-size: 16px;
     color: black;
 }
 #product1 .pro .description{
     font-size: 15px;
     color: #ffaf0e;
 }
 #product1 .pro .description h4{
     padding-top: 7px;
     font-size: 20px;
     font-weight: 700px;
     color: #02441a;
 }
 #product1 .pro .desc-icons{
     position: absolute;
     bottom: 0px;
     left: 110px;
     transition: 0.3s ease;

 }
 #product1 .pro .desc-icons a{
     font-size: 25px;
     line-height: 40px;
     font-weight: 500;
     color: #02441a;  

    
 }
 #product1 .pro .desc-icons i{
    transition: 0.2s ease;

 }

 #product1 .pro .desc-icons i:hover{
     scale: 1.2;
 }