#textBlock{
    background-color:white;
    justify-content: center;
    align-items: center;
}

body{

background-color: #003135;
}



#title{
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 200px;   
    
    margin: 130px;

    margin-bottom: 400px;
}
#title h1{
    font-size: 100px;
    display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  height: 200px;  
  color: #e6e5e5; 
}
#title h2{
    color: #e6e5e5;
}

#title h4{
    color: #e6e5e5;
    text-align: center;
    font-size: 50px;
}

#block1{
background-color: #025950;
    
}

#block2{
background-color: #59566e;
}

#block3{
    background-color: #025950;
}

#block4{
    background-color: #59566e;
}

#block5{
    background-color: #025950;
}





.content{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}



#welcome .text
{
   margin-right: 100px; 
}

#welcome .text h4{
    font-size: 25px;
}

#welcome .text h2
{
    margin-top: 10px;
    margin-bottom: 50px;
}
#shopButton{
    width: 200px;
    height: 70px;
    border-radius: 30px;
    margin-right: 250px;
    margin-top: 0px;
    transition: 0.2s ease;

    background-color: #ff8b42 ;
}
#shopButton a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

#shopButton:hover{

    scale: 1.1;
}

#startShoppingText{
    margin-right: 200px;
}

