
#hero
{

background-color: #48868b ;
    display: flex;
    padding: 0 80px;
    align-items: flex-start ;
    justify-content: center;
    margin: 5px,10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    

}
#heroText{
    padding: 100px;
}
#heroText h1{
    padding-bottom: 15px;

}
#heroText h2{
    padding-bottom: 15px;
    color:crimson;
    font-weight: 500;
} 
#heroText h3{
    padding-bottom: 15px;
    font-weight: 300;
}
#hero button{
    width: 170px;
    height: 50px;
    font-size: 30px;
    border: 1px solid black;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 500;
    background-color: #d46724;
}
#hero button:hover{
    scale: 1.2;
    background-color: #de6215;
}
#hero button:active{
    background-color: cornflowerblue;
}

#feature{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    background-color: #48868b;
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(93, 93, 93, 0.2);
    border-radius: 10px;
    margin: 15px 0;
    transition: 0.3s ease;
    
}
#feature .fe-box i{
    font-size: 80px;
    padding-bottom:30px;
    padding-top: 20px;
}

#feature .fe-box:hover{
    scale: 1.1;
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.05); ;
}
#feature .fe-box h4{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 10px;
    font-weight: 500;
    color: black;
    background-color: #d46724;

}

#product1 h2{
    margin-bottom: 60px;
    font-weight: 500;
}
