body{
    background-color:#e6e5e5;
}


h1{
    font-size: 60px;
}

#loginWindow h4{
    font-size: 20px;
    margin: 20px;
}
.textBox{
    background-color: #AFDDE5;
}

#loginWindow{
    background-color: #0FA4AF;
    margin:auto;
    align-items: center;
    justify-content: center; 
    margin-top: 5px;  
    margin-bottom: 5px; 
    height: 570px;
    width: 400px;
    padding: 20px;
    border: 1px, solid, black;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}

#loginText{
    text-align: center;
}

.socialButton{
    font-size: 30px;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    width: 200px;
    margin: 5px;
    transition: 0.2s ease;
    border: 1px solid black;

}

.socialButton:hover{
    scale: 1.1;
}

.textBox{
    width: 250px;
    height: 30px;
    margin: -30px;
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 10px;

}
    


#facebookButton{
    background-color: #1877F2;
}

#googleButton{
    background-color: #cf553d;
}

#appleButton{
    background-color: black;
}

#continueButton{
    background-color: rgb(5, 122, 19);
    width: 250px;
}