#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color:beige;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbarLeft{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
#navbarLeft li{
    list-style: none;
   
}

#navbarRight{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
#navbarRight li{
    list-style: none;
   
}

.navbarItem a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color:rgb(47, 48, 49) ;
    transition: 0.2s ease;
}
.navbarItem a:hover{
    color: cornflowerblue;
    
}
.navbarItem{
    transition: 0.3s ease;
}
.navbarItem:hover{
    scale:1.1;
}